<div class="container" id="sidebar-header-wrapper">

  <!-- Submit Post Button and Search Field -->
  <div class="row d-flex flex-nowrap d-vertical-align justify-content-start">
      <a id="submit-new-button" href="#">Submit New Post</a>
      <div class="form-group ml-auto" id="post-search-field">
        <input type="text" class="form-control" placeholder="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
  </div>

  <!-- Display Category Selectors -->
  <div class="row">
    <ul class="list-inline" id="category-selectors">
      <li *ngFor="let category of postCategories" class="list-inline-item">
        <a [ngClass]="{'active': selectedCategory == category}" (click)="categoryClicked(category)">{{ category }}</a>
      </li>
    </ul>
  </div>
  
</div>
