<nav class="navbar navbar-expand-md fixed-top">

  <!-- Navbar Brand -->
  <a class="navbar-brand" href="/">
    <img src="/assets/img/logo.png">
  </a>

  <!-- Dropdown Menu for Default Subreddits -->
  <ul class="navbar-nav dropdown-wrapper">
    <li ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link d-flex dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Front Page<i class="fa fa-angle-down" aria-hidden="true"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  
  <!-- Mobile Menu Toggler -->
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible Login Buttons -->
  <div class="collapse navbar-collapse ml-auto login-buttons" id="mobileMenu">
    <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#">Login</a>
        <a class="nav-item nav-link" href="#">Signup</a>
    </ul>
  </div>

</nav>