<div class="container sidebar-links-wrapper">

  <div *ngFor="let number of [1,1,1,1,1,1,1,1,1,1,1]" class="row d-flex flex-row flex-nowrap sidebar-links-single">

    <!-- Voting Buttons -->
    <div class="d-flex flex-column align-self-center justify-content-center links-voting">
        <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <p>256</p>
        <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>

    <!-- Link Text Description -->
    <div class="d-flex flex-column align-self-center justify-content-center links-description">
      <a class="links-category" href="#">Technology</a>
      <a class="links-title" href="#">Astronomers may have found giant alien 'megastructures' orbiting star near the Milky Way.</a>
      <p class="links-submitted">Submitted 6 hours ago by <a href="#">Mooney</a></p>
    </div>

    <!-- Link Image -->
    <div class="d-flex flex-column align-self-start justify-content-center links-image">
      <img src="assets/img/temp.jpeg">
      <div class="d-flex flex-row flex-nowrap">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <a href="#">2300 comments</a>
      </div>
    </div>

  </div>

</div>

