<div class="container sidebar-links-wrapper">

  <div *ngFor="let link of response" class="row d-flex flex-row flex-nowrap sidebar-links-single" (click)="setCurrentLink(link)">

    <!-- Voting Buttons -->
    <div class="d-flex flex-column align-self-start justify-content-center links-voting">
        <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <p>{{ link.data.ups }}</p>
        <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>

    <!-- Link Text Description -->
    <div class="d-flex flex-column align-self-start justify-content-center links-description">
      <a class="links-category" href="#">{{ link.data.subreddit }}</a>
      <a class="links-title" href="#">{{ link.data.title }}</a>
      <p class="links-submitted">Submitted {{ calcDate(link.data.created_utc) }} ago by <a href="#">{{ link.data.author }}</a></p>
    </div>

    <!-- Link Image -->
    <div class="d-flex flex-column align-self-start ml-auto justify-content-center links-image">
      <img src="{{ isImage(link.data.thumbnail) ? link.data.thumbnail : '/assets/img/default-image.png' }}">
      <div class="d-flex flex-row flex-nowrap">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <a href="#">{{link.data.num_comments}} comments</a>
      </div>
    </div>

  </div>

</div>

<div (click)="loadPosts($event)" id="load_more_posts">
    <a>Load More Posts</a>  
</div>
