//Import Global Variables
@import "~app/shared/scss/variables.scss";

.sidebar-links-wrapper{
    padding: 0px 40px 20px 40px;

    .sidebar-links-single{
        margin-bottom: 20px;

        .links-voting{
            text-align: center;
            color: $middle-grey;
            p{
                height: 2.5rem;
                line-height: 2.5rem;
                margin-bottom: 0;
                font-size: 0.75rem;
            }
            a{
                font-size: 0.8rem;
            }
        }

        .links-description{
            padding: 0px 20px;
            .links-category{
                font-size: 0.65rem;
                letter-spacing: 1px;
                font-weight: 600;
                color: $teal;
                text-transform: uppercase;
                transition: all 0.7s;
                &:hover{
                    text-decoration: none;
                    color: $teal-dark;
                }
            }
            .links-title{
                padding-top: 5px;
                font-size: 0.85rem;
                color: $dark-grey;
                transition: all 0.7s;
                &:hover{
                    text-decoration: none;
                }
            }
            .links-submitted{
                padding-top: 8px;
                font-size: 0.75rem;
                color: $middle-grey;
                margin-bottom: 0;
                a{
                    color: $blue;
                    transition: all 0.7s;
                    &:hover{
                        text-decoration: none;
                        color: $blue-dark;
                    }
                }
            }
        }

        .links-image{
            font-size: 0.75rem;
            color: $middle-grey;
            padding-top: 2px;
            img{
                width: 110px;
                height: 70px;
                object-fit: cover;
                border-radius: 5px;
            }
            a{
                padding-top: 10px;
                padding-left: 3px;
                color: $middle-grey;
                transition: all 0.7s;
                &:hover{
                    text-decoration: none;
                    color: $dark-grey;
                }
            }
            i{
                padding-top: 12px;
                font-size: 0.8rem;
            }
        }
    }

}

#load_more_posts{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    cursor: pointer;
    a{
        width: 100%;
        padding: 10px 15px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: $red;
        text-transform: uppercase;
        transition: all 0.7s;
        border: 1px solid $red;
        &:hover{
            text-decoration: none;
            color: $red-dark;
        }
    }
}