<div class="d-flex flex-row flex-nowrap align-self-center single-comment-wrapper">

  <!-- Comment Karma Voting Buttons -->
  <div class="d-flex flex-column align-self-center justify-content-center comment-voting">
      <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
      <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>

  <!-- Comment Header And Content -->
  <div class="d-flex flex-column align-self-center comment-content">
      <p class="comment-header"><a href="#">Mooney</a>&nbsp;&nbsp;123 points&nbsp;&nbsp; 6 hours ago</p>
      <p class="comment-text">Astronomers may have found giant alien 'megastructures' orbiting star near the Milky Way.</p>
  </div>

</div>