<div *ngIf="currentLink!=null" id="article-main-wrapper" class="container">

    <div class="row d-flex flex-row flex-nowrap" id="article-header-wrapper">

        <!-- Article Header Voting Buttons -->
        <div class="d-flex flex-column align-self-start justify-content-center article-voting">
            <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            <p>{{ currentLink.data.ups }}</p>
            <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>

        <!-- Article Header Text Description -->
        <div class="d-flex flex-column align-self-start justify-content-center article-description">
            <a class="article-category" href="#">{{ currentLink.data.subreddit }}</a>
            <a class="article-title" href="{{ currentLink.data.url }}" target="_blank">{{ currentLink.data.title }}</a>
            <p class="article-submitted">Submitted {{ calcDate(currentLink.data.created_utc) }} ago by <a href="#">{{ currentLink.data.author }}</a></p>
        </div>

        <!-- Article Header Image -->
        <div class="d-flex flex-column align-self-start ml-auto justify-content-center article-image">
            <a href="{{ currentLink.data.url }}" target="_blank">
                <img src="{{ isImage(currentLink.data.thumbnail) ? currentLink.data.thumbnail : '/assets/img/default-image.png' }}">
            </a>
        </div>

    </div>

    <!-- Divider between article description and comments -->
    <div class="row divider"></div>

    <!-- Loading Spinner -->
    <div *ngIf="!commentsLoaded" class="comments-loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <!-- Begin Comments Component -->
    <comments-list *ngIf="commentsLoaded" [comments] = "comments_reorganized"></comments-list>

</div>