<div id="article-main-wrapper" class="container">

    <div class="row d-flex flex-row flex-nowrap" id="article-header-wrapper">

        <!-- Article Header Voting Buttons -->
        <div class="d-flex flex-column align-self-center justify-content-center article-voting">
            <a><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            <p>256</p>
            <a><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>

        <!-- Article Header Text Description -->
        <div class="d-flex flex-column align-self-center justify-content-center article-description">
            <a class="article-category" href="#">Technology</a>
            <a class="article-title" href="#">Astronomers may have found giant alien 'megastructures' orbiting star near the Milky Way.</a>
            <p class="article-submitted">Submitted 6 hours ago by <a href="#">Mooney</a></p>
        </div>

        <!-- Article Header Image -->
        <div class="d-flex flex-column align-self-start justify-content-center article-image">
            <img src="assets/img/temp.jpeg">
        </div>

    </div>

    <!-- Divider between article description and comments -->
    <div class="row divider"></div>

    <!-- Begin Comments Component -->
    <comments-list></comments-list>

</div>